@{
    ViewBag.Title = "index";
}
<script src="~/Script/jquery-1.10.2.min.js"></script>
<form id="uploadForm" action="http://filecloud.beimai.com/upload/batch_pic" method="post">
    <input style="width: 100px; height: 100px;" name="fileName" multiple="multiple" accept="image/png,image/jpeg" type="file" id="imgfile"/>
</form>
<script type="text/javascript">

</script>